html,
body,
#root {
    height: 100%;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

/**
* 这里覆盖弹幕库的样式
*/
.artplayer-plugin-danmuku .apd-send,
.artplayer-plugin-danmuku .apd-slider-dot,
.artplayer-plugin-danmuku .apd-slider .apd-slider-progress {
    background-color: var(--primary) !important;
}

.artplayer-plugin-danmuku .apd-mode,
.artplayer-plugin-danmuku .apd-config-other .apd-other:hover {
    color: var(--primary) !important;
}

.artplayer-plugin-danmuku .apd-toggle-on path:last-child,
.artplayer-plugin-danmuku .apd-check-on path:last-child,
[data-danmuku-mode='0'] .apd-style-mode [data-mode='0'] path,
[data-danmuku-mode='1'] .apd-style-mode [data-mode='1'] path,
[data-danmuku-mode='2'] .apd-style-mode [data-mode='2'] path,
.artplayer-plugin-danmuku .apd-mode-0-off path,
.artplayer-plugin-danmuku .apd-mode-1-off path,
.artplayer-plugin-danmuku .apd-mode-2-off path {
    fill: var(--primary) !important;
}

.art-icon-loading img {
    vertical-align: unset !important;
}
